            p {
                color: black;
                font: 200;
                font-family: 'Courier New', Courier, monospace;
            }
            
            .todo-item {
                background: white;
                height: 100px;
                width: 400px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            .todo-item p {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            span {
                display: block;
                margin-bottom: 10px
            }